body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
}

p{
    padding: 0 30px;
    font-size: 2rem;
}

button{
    padding: .5rem 1.5rem;
    margin: .2rem 1rem;
    font-size: 1.5rem;
}